# FreshOn POS — Environment Configuration
VITE_API_URL=https://yogesh843120.pythonanywhere.com

# BharatPe Merchant Credentials
VITE_BHARATPE_MERCHANT_ID=
VITE_BHARATPE_TOKEN=
VITE_BHARATPE_API_URL=https://payments.bharatpe.in/api/v1
